<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="myeclipse.connection.profile">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/feroz</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>

		<property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>

		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<!-- SQL dialect -->
		<!-- Specify session context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<mapping class="com.Test" />
		<mapping class="com.TestSub" />
		<mapping class="onetoone.Husband" />
		<mapping class="onetoone.Wife" />
		<mapping class="onetomany.Boyfriend" />
		<mapping class="onetomany.GirlFriend" />
		<mapping class="manytomany.Author" />
		<mapping class="manytomany.Book" />
		<mapping class="superclass.Account" />
		<mapping class="superclass.CreditAccount" />
		<mapping class="superclass.DebitAccount" />
		<mapping class="dateandtime.DateEvent" />
		<mapping class="dateandtime.Product" />

		<mapping class="columntransformer.Department" />
		<mapping class="columntransformer.Employee" />
		<mapping class="columntransformer.Project" />
		<mapping class="formula.Formula" />
		<mapping class="where.Client" />
		<mapping class="where.ClientAccount" />
		<mapping class="any.IntegerProperty" />
		<mapping class="any.StringProperty" />
		<mapping class="any.PropertyHolder" />
		<mapping class="uuid.Takla" />
		<mapping class="mycache.Phone" />
		<mapping class="mycache.Person" />
		<mapping class="mycache.MyCollections" />
		<mapping class="immutable.Shirt" />
		


	</session-factory>

</hibernate-configuration>